.card {
    height: 300px;
    overflow: scroll;
    margin: 10px;
}

.row {
    margin: 20px;
}

.card-1 {
    background: black;
}

.save-btn {
    margin-top: 270px;
}

.card-img{
    margin-top: 30px;
}

