.container {
    /* position: relative; */
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    
}
.container-fluid {
    width: 100%
  }

  /* .wrapper {
      max-width: 100%;
      max-width: 1000px;
  } */